/* <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'> */
/* ~~~~~ PRINCIPAL ~~~~~ */

*{
    box-sizing: border-box;
    margin-top: 0%;
    font-family: Righteous;
    margin: auto;
}
/* ~~~~~ HEADER ~~~~~ */
/* div.header{
    float: left;
    background-color: #a1efef;
    width: 100%;
    height: 10%;
} */


/* ~~~~~ BOTÓN PERFIL ~~~~~ */
img.perfil{
    width: 55px;
    height: 55px;
    float: right;
    margin-top: 0.5%;
    margin-right: 5%;
}

/* ~~~~~ LOGO ~~~~~ */
img.logo{
    width: 200px;
    height: 60px;
}

/* ~~~~~ TITULOS, TEXTOS y ENLACES ~~~~~ */
.titulo{
    text-align: center;
    color: #00aa66;
    font-size: 2vw;
}

/* ~~~~~ ~~~~~ */
.titulo--color{
    background-image: url("../img/xat.jpeg");
    width: 50%;
    height: 100%;
    color: #a1efef;
}

.texto{
    /* float: left; */
    color: #7e7e7e;
    font-size: 1vw;
}

.texto--negrita{
    color: black;
    font-weight: bold;
    font-size: 1vw;
}

a.texto--enlace{
    color: #00aa66;
    font-size: 1vw;
}

a.texto--enlace:hover{
    color:#44dd94;
}

/* ~~~~~ BOTONES EN GENERAL ~~~~~ */
.boton{
    background-color: #6fbcbd;
    color: black;
    font-size: 1vw;
    text-align: center;
    border-radius: 3px;
    border: 1px black solid;
    padding: 0.5%;
}

.boton--primary{
    border-radius: 5px;
    border: 0px black solid;
}

.boton--icon{
    border-radius: 200px;
    padding: 0.5%;
    width: 3.5%;
    height: 2%;
    border: 0px black solid;
}

/* @media only screen and (max-width: 600px) {
    .titulo{
        font-size: 7vw;
    }
}
.register{
    background-color: lightgray;
} */

@media screen and (max-width: 450px) {
    .titulo{
        font-size: 6vw;
    }

}
