html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.form {
    padding: 1%;
    margin: 1%;
    border-radius: 45px;
    width: 23.5%;
    height: 37%;
    background-color: #d4ffff;
}

.form__select {
    margin: 1%;
    width: 62%;
    background-color: #d4ffff;
    text-align: center;
    padding: 0.2%;
}

.form__label {
    font-weight: bold;
}

.form__inputext {
    background-color: #d4ffff;
    padding: 0.2%;
}

.form__textarea {
    background-color: #d4ffff;
    padding: 0.2%;
    width: 98%;
    height: 70%;
}

.form_inputcheck {
    width: 15%;
    margin-top: 2%;
}

.table {
    margin: 1%;
    width: 60%;
    background-color: #d4ffff;
    border-collapse: collapse;
}

.table__th {
    border: 2px solid black;
}

.table__td {
    text-align: center;
    border: 1px solid black;
}
.formulario_nombre{
   margin-left: 115px;
   
}
.formulario_email{
    margin-left: 139px;
}
.formulario_password{
    margin-left: 80px;
}
.formulario_repPassword{
    margin-left: 9px;
}
.formulario_boton{
    margin-left: 110px;
}