/*Pagina pre login*/
.parallax{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
}


/*El VALOR DEL PARALLAX ES FIJO*/
#header_PagP{
    width: 100%;
    height: 100%;
   
    background-image: url(../../_commons/img/div1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#NombreEmpresa{
    /*Se centra el valor*/
    align-items: center;
    justify-content: center;
    
    padding-top: 20%;
    display: flex;
}

div:nth-child(3){
   background-color: aquamarine;
}
#piePagina{
    height: 600px;
    background-image: url(../../_commons/img/div1.jpg);
    background-size: cover;
}



/*NAV LOGIN*/
/*
a {
    margin-top: 6%;    
}
li {
    margin-right: 6%;
}
ul {
    padding-right: 4%;
    float: right;
}
*/

/*Pagina Login*/

.header{
    width: 100%;
    height: 60px;
    background-color: #A8EFEB;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}
.header__Titulo{ 

    margin-block-start: 0%;
    margin-block-end: 0%;
}
.header__user{
    width: 3%;
    float: right;
    margin-right: 6%;
}

.header__logo{
    width: 3%;
    float: left;
}

.button--gestor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 544px;
    border:1px solid black;
    float: left;
    margin-top: 1%;
    background-image: url(../img/Gestor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button--mensajeria{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    border:1px solid black;
    width: 50%;
    height: 544px;
    background-image: url(../img/mensajeria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
body{
    margin: 0%;
}